@import url('https://fonts.googleapis.com/css2?family=Manuale:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manuale", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ECEDDC;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 10vh;
}

.headerLogo {
  height: 8vh;
}

.headerLinks {
  display: flex;
  gap: 3vw;
  align-items: center;
}
.headerLinks > a {
  text-decoration: none;
  color: black;
  font-size: 2vh;
  font-weight: 600;
}

.contactUsButton {
  padding: 1.5vh 3vh;
  background-color: #2C2C2C;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 999999vh;
  color: white; 
  text-decoration: none;
}
@media screen and (max-width: 110vh) {
  header {
    padding-right: 2vh;
  }
}

@media screen and (max-width: 85vh) {
  .headerLinks {
    display: none;
  }
  .contactUsButton {
    display: none;
  }
}