@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #ECEDDC;
}

/* SCROLLBAR */
*::-webkit-scrollbar {
  width: 1vh; 
  height: 1.2vh;
}
*::-webkit-scrollbar-track {
  background-color: #ECEDDC;
  cursor: pointer;
  border: none;
  box-shadow: none;
}
*::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 10px;
  cursor: pointer; 
}
*::-webkit-scrollbar-thumb:active {
  cursor: pointer;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #7e7e7e; 
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 10vh;
  background-color: #ECEDDCb4;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: box-shadow 0.3s ease;
}
header.scrolled {
  box-shadow: 0 0.2vh 0.8vh rgba(0, 0, 0, 0.2);
}

.headerLogo {
  height: 8vh;
}

.headerLinks {
  display: flex;
  gap: 3vw;
  align-items: center;
}
.headerLinks > a {
  text-decoration: none;
  color: black;
  font-size: 2vh;
  font-weight: 600;
}

.contactUsButton {
  padding: 1.5vh 3vh;
  background-color: #2C2C2C;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 999999vh;
  color: white; 
  text-decoration: none;
}

.hamburgerMenu {
  display: none;
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.hamburger {
  height: 2vh;
}

@media screen and (max-width: 110vh) {
  header {
    padding-right: 2vh;
  }
}

@media screen and (max-width: 85vh) {
  .headerLinks {
    display: none;
  }
  .contactUsButton {
    display: none;
  }
  .hamburgerMenu {
    display: flex;
  }
}

.sideBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(.04,.95,.31,1);
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.sideBar.active {
  transform: translateX(0);
}

.sideBar > .closeButton {
  position: absolute;
  top: 2vh;
  right: 2vh;
  cursor: pointer;
  height: 5vh;
  width: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBar > .closeButton > img {
  height: 3vh;
}

.sideBar > a {
  padding: 1vh auto;
  padding: 2vh 0;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 3vh;
  border-bottom: 1px solid #E0E0E0;
}
.sideBar > a.button {
  color: white;
  margin: 3vh 1vh;
}

.Landing > .landingHeader {
  max-width: 80vh;
  padding: 1vh;
  margin: 0 auto;
}

.Landing > .landingHeader > h1 {
  font-size: 6vh;
  text-align: center;
  margin-top: 20vh;
  font-weight: 700;
}
.Landing > .landingHeader > p {
  font-size: 3vh;
  text-align: center;
  margin-top: 3vh;
}

.landingButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5vh;
  flex-wrap: wrap;
  padding: 0 2vh;
}

.button {
  padding: 1.5vh 3vh;
  background-color: #2C2C2C;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 999999vh;
  color: white; 
  text-decoration: none;
}
.button.hollow {
  background-color: transparent;
  border: 2px solid #2C2C2C;
  color: #2C2C2C;
}

.Image > img {
  border-radius: 2vh;
  height: 100%;
  box-shadow: -0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 0.521);
}

.landingImages {
  display: flex;
  justify-content: center;
  gap: 5vh;
  margin-top: 10vh;
  flex-wrap: wrap;
  height: 20vh;
  
}

.estimate {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  margin: 5vh;
  font-size: 3vh;
}

.InfoSection {
  width: 100vw;
  min-height: 60vh;
  padding: 10vh 5vw;
  background-color: #585858;
  
}
.InfoSection > h2 {
  color: white;
  font-size: 4vh;
  margin-bottom: 3vh;
  font-weight: 700;
}
.InfoSection > h2.backBg {
  color: black;
}
.InfoSection {
  color: #CECECE;
}
.InfoSection.right {
  padding-right: 40vw;
}

.InfoSection.left {
  padding-left: 40vw;
}
.InfoSection.backBg {
  background-color: #ECEDDC;
}


.infoSubsection {
  margin-top: 2.5vh;
  font-size: 2.3vh;
}
.infoSubsection.backBg {
  color: #2C2C2C;
} 

.spacer {
  height: 2vh;
}

.Footer {
  padding: 4vh 4vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: #2C2C2C;
  color: white;
}